@model BAtwitter_DAW_2526.Models.Echo

@functions {
    bool AnyNonRemoved(ICollection<Echo> echs)
    {
        if (echs == null || !echs.Any())
        {
            return false;
        }
        
        foreach (var ech in echs)
        {
            if (!ech.IsRemoved)
            {
                return true;
            }
            // Verifica recursiv daca comentariul sters are copii nestersi
            if (ech.Comments != null && AnyNonRemoved(ech.Comments))
            {
                return true;
            }
        }
        return false;
    }
}

<!-- Aici vom insera recursia pt. parintii postarii -->
@if (ViewBag.Parents != null && ((List<Echo>)ViewBag.Parents).Any())
{
    if (((List<Echo>)ViewBag.Parents).Count() > 3)
    {
        <a class="link-primary link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
           data-bs-toggle="collapse" data-bs-target=".collapseParents" aria-expanded="false" aria-controls="collapseParents" style="user-select: none">
            Show Echo Parents
        </a>
        <div class="collapse collapseParents" style="border-left: 2px solid #ddd">
            @* class="me-4" *@
            @foreach (var parent in ViewBag.Parents)
            {
                <partial name="EchoParent" model="parent" />
            }
        </div>
    }
    else
    {
        <div style="border-left: 2px solid #ddd">
            @foreach (var parent in ViewBag.Parents)
            {
                <partial name="EchoParent" model="parent" />
            }
        </div>
    }
}

<div id="here" class="align-items-center w-100">
    <partial name="EchoInfo" model="Model" />
</div>

@* Afisare comentarii recursive - afisate exact ca postarile *@

@if (Model.Comments != null && (User.IsInRole("Admin") || @AnyNonRemoved(Model.Comments)))
{
    <h5 class="mt-3 mb-3">Comments:</h5>
    <div style="border-left: 2px solid #ddd">
        @* class="me-4" *@
        @foreach (var comm in Model.Comments
            .Where(c => User.IsInRole("Admin") || ((c.Comments != null && @AnyNonRemoved(c.Comments) && c.IsRemoved) || !c.IsRemoved))
            .OrderBy(c => c.DateCreated))
        {
            <partial name="CommentRecursion" model="@comm" />
        }
    </div>
}

@if (!Model.IsRemoved)
{
    @* Afisarea formularului in care se poate adauga un comentariu *@
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="p-3 d-flex justify-content-center">
                    <a class="btn btn-primary d-inline-flex align-items-center gap-2" 
                       asp-controller="Echoes" 
                       asp-action="New" 
                       asp-route-id="@Model.Id" 
                       asp-route-type="comment">
                        <i class="bi bi-send-fill"></i>
                        <span>Send Echo</span>
                    </a>
                </div>

                <!--
                <form method="post" asp-controller="Echoes" asp-action="Show">
                    <div class="card-body">
                        <input type="hidden" name="EchoId" value="@Model.Id" />

                        <label>Comment</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                        <br /><br />

                        <button class="btn btn-success" type="submit">Add Comment</button>
                    </div>
                </form>
                -->
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
}