@model BAtwitter_DAW_2526.Models.Echo
@using System.IO
@{
    string path = Context.Request.Path.Value ?? "";
    bool showLock = Model.User?.AccountStatus?.Equals("private") ?? false;
}

@functions {
    bool IsBlocked(Echo echo)
    {
        if (ViewBag.CurrentUser == null || echo.User == null)
            return false;
        return echo!.User.SentRelations.Any(rel => rel.ReceiverId == ViewBag.CurrentUser && rel.Type == -1);
    }
    
    bool CanViewEcho(Echo echo)
    {
        if (IsBlocked(echo))
            return false;
            
        if (echo.User == null)
            return false;
            
        return User.IsInRole("Admin") || echo.User.AccountStatus.Equals("active")
           || ((echo.User.AccountStatus.Equals("private") && echo.User.ReceivedRelations.Any(rel => rel.SenderId == ViewBag.CurrentUser && rel.Type == 1)))
           || echo.UserId == ViewBag.CurrentUser;
    }
}

@if (Model.IsRemoved && !User.IsInRole("Admin"))
{
    <small class="d-flex flex-row mt-3 mb-3 p-3 rounded-3 text-center align-items-center alert alert-secondary text-muted fst-italic">
        This Echo has been removed.
    </small>
}
else if (IsBlocked(Model) && !User.IsInRole("Admin"))
{
    <small class="d-flex flex-row mt-3 mb-3 p-3 rounded-3 text-center align-items-center alert alert-secondary text-muted fst-italic">
        This Echo was sent from an account that has blocked you.
    </small>
}
else if (!CanViewEcho(Model) && !User.IsInRole("Admin")) {
    <small class="d-flex flex-row mt-3 mb-3 p-3 rounded-3 text-center align-items-center alert alert-secondary text-muted fst-italic">
        This Echo was sent from a private account you do not follow.
    </small>
}
else
{
    <div class="card shadow-sm mb-4 mt-2 echo-card" data-echo-url="@(Url.Action("Show", "Echoes", new { id = Model.Id }) + "#here")">
        <div class="card-body" >
            <!-- HEADER: avatar + nume + username + edited at -->
            <div class="d-flex justify-content-between align-items-start">

                <div class="d-flex align-items-center column-gap-1">
                    @if (Model.User != null && !string.IsNullOrEmpty(Model.User.PfpLink))
                    {
                        @if (Model.User?.ApplicationUser != null)
                        {
                            <a href="@Url.Action("Show", "UserProfiles", new { username = Model.User.ApplicationUser.UserName })" class="text-decoration-none">
                                <img src="@Model.User.PfpLink" alt="Profile Picture" class="rounded-circle me-2"
                                     style="width: 24px; height: 24px; object-fit: cover;" />
                            </a>
                        }
                        else
                        {
                            <img src="@Model.User!.PfpLink" alt="Profile Picture" class="rounded-circle me-2"
                                 style="width: 24px; height: 24px; object-fit: cover;" />
                        }
                    }
                    else
                    {
                        <div class="rounded-circle bg-secondary me-2" style="width: 24px; height: 24px;"></div>
                    }

                    <div class="d-flex flex-row align-items-center gap-1">
                        @if (Model.User?.ApplicationUser != null)
                        {
                            <a href="@Url.Action("Show", "UserProfiles", new { username = Model.User.ApplicationUser.UserName })" class="fw-semibold text-decoration-none link-body-emphasis" style="max-width: 200px">
                                @(Model.User?.DisplayName ?? "Unknown user")
                            </a>
                        }
                        else
                        {
                            <span class="fw-semibold text-truncate" style="max-width: 200px">
                                @(Model.User?.DisplayName ?? "Unknown user")
                            </span>
                        }
                        @if (showLock == true) { <i class="bi bi-lock-fill fs-6"></i> }
                    </div>

                    @if (Model.User?.ApplicationUser != null)
                    {
                        <div class="d-flex flex-row align-items-center">
                            <a href="@Url.Action("Show", "UserProfiles", new { username = Model.User.ApplicationUser.UserName })" class="text-decoration-none">
                                <small class="text-muted">@("@" + Model.User.ApplicationUser.UserName)</small>
                            </a>
                        </div>
                    }
                    
                    @if (Model.Flock != null)
                    {
                        <div class="d-flex flex-column align-items-center">
                            <small class="text-primary fw-semibold">
                                <a href="@Url.Action("Show", "Flocks", new { id = Model.Flock.Id })" class="d-inline-block text-primary text-decoration-none fw-semibold text-truncate" style="max-width: 50px">
                                    @Model.Flock.Name
                                </a>
                            </small>
                        </div>
                    }
                </div>

                <div class="text-end small text-muted text-truncate align-items-center" style="padding-top: 3px; max-width: 300px">
                    created at: @Model.DateCreated.ToString("HH:mm") - @Model.DateCreated.ToString("MMM d, yyyy")
                </div>
            </div>

            <!-- TEXT POSTARE -->
            <div class="mb-3 mt-1 post-click-area">
                @if (!string.IsNullOrWhiteSpace(Model.Content))
                {
                    @Html.Raw(Html.Encode(Model.Content).Replace("\n", "<br />"))
                }
            </div>

            <!-- ATAȘAMENTE -->
            @{
                var attCount = Convert.ToInt32(!string.IsNullOrEmpty(Model.Att1)) + Convert.ToInt32(!string.IsNullOrEmpty(Model.Att2));
            }

            @if (attCount > 0)
            {
                <div class="row g-3 align-content-center">

                    @* ATTACHMENT #1 *@
                    @if (!string.IsNullOrEmpty(Model.Att1))
                    {
                        var ext1 = System.IO.Path.GetExtension(Model.Att1).ToLower();
                        var isImg1 = new[] { ".jpg", ".jpeg", ".png", ".webp", ".gif" }.Contains(ext1);
                        var isVid1 = new[] { ".mp4", ".mov", ".webm" }.Contains(ext1);
                        var colClass = "col-md-6";
                        var isMid = attCount == 1 ? "align-items-center" : "";

                        <div class="@colClass @isMid">
                            <div class="ratio ratio-16x9 bg-light rounded overflow-hidden">
                                @if (isImg1)
                                {
                                    <!-- CLICK PE POZĂ => REDIRECTEAZĂ ÎN ACELAȘI TAB -->
                                    <a href="@Model.Att1" class="d-block w-100 h-100">
                                        <img src="@Model.Att1" alt="attachment 1" class="w-100 h-100" style="object-fit: cover;" />
                                    </a>
                                }
                                else if (isVid1)
                                {
                                    <video src="@Model.Att1" class="w-100 h-100" style="object-fit:cover;" controls></video>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center align-items-center w-100 h-100 text-muted">
                                        Attachment #1
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    @* ATTACHMENT #2 *@
                    @if (!string.IsNullOrEmpty(Model.Att2))
                    {
                        var ext2 = System.IO.Path.GetExtension(Model.Att2).ToLower();
                        var isImg2 = new[] { ".jpg", ".jpeg", ".png", ".webp", ".gif" }.Contains(ext2);
                        var isVid2 = new[] { ".mp4", ".mov", ".webm" }.Contains(ext2);
                        var colClass = "col-md-6"; // attCount == 1 ? "col-12" :
                        var isMid = attCount == 1 ? "align-items-center" : "";

                        <div class="@colClass @isMid">
                            <div class="ratio ratio-16x9 bg-light rounded overflow-hidden">
                                @if (isImg2)
                                {
                                    <!-- CLICK PE POZĂ => REDIRECTEAZĂ ÎN ACELAȘI TAB -->
                                    <a href="@Model.Att2" class="d-block w-100 h-100">
                                        <img src="@Model.Att2" alt="attachment 2" class="w-100 h-100" style="object-fit: cover;" />
                                    </a>
                                }
                                else if (isVid2)
                                {
                                    <video src="@Model.Att2" class="w-100 h-100" style="object-fit: cover;" controls></video>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center align-items-center w-100 h-100 text-muted">
                                        Attachment #2
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            }

            @if (User.IsInRole("Admin"))
            {
                @if (Model.IsRemoved)
                {
                    <small class="d-flex flex-row mt-3 mb-1 p-3 rounded-3 text-center align-items-center alert alert-secondary text-muted fst-italic">
                        This Echo has been removed.
                    </small>
                }
                else if (IsBlocked(Model))
                {
                    <small class="d-flex flex-row mt-3 mb-1 p-3 rounded-3 text-center align-items-center alert alert-secondary text-muted fst-italic">
                        This Echo was sent from an account that has blocked you.
                    </small>
                }
                else if (!CanViewEcho(Model))
                {
                    <small class="d-flex flex-row mt-3 mb-1 p-3 rounded-3 text-center align-items-center alert alert-secondary text-muted fst-italic">
                        This Echo was sent from a private account you do not follow.
                    </small>
                }
            }
        </div>
    </div>
}