@model BAtwitter_DAW_2526.Models.Echo

<div class="card-body">

    <div class="d-flex justify-content-start align-items-md-center">
        @if (Model.User != null)
        {
            <img src="@Model.User.PfpLink" alt="User pfp" class="rounded-circle align-content-right" style="width: 60px; height: auto" />
            <div>
                @Model.User.DisplayName
                @if (Model.User.ApplicationUser != null)
                {
                    <text>@("(@" + Model.User.ApplicationUser.UserName + ")")</text>
                }
            </div>
        }
    </div>

    <br/>
    <div class="card-text" style="">@Model.Content</div>
    <br />

    <div>
        @if (!string.IsNullOrEmpty(Model.Att1))
        {
            <!-- link accesare resursa: /Resources/Images/(ID postare)/(nume complet continut) -->

            @if (Model.Att1.Contains(".mp4") || Model.Att1.Contains(".mov"))
            {
                <video class="card-img w-@((!string.IsNullOrEmpty(Model.Att2)) ? "auto" : "100")" height="450" controls>
                    <source src="@Model.Att1" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                <img class="card-img w-@((!string.IsNullOrEmpty(Model.Att2)) ? "auto" : "100")" src="@Model.Att1" alt="Article Image" style="height: 450px; object-fit: cover" />
            }
        }

        @if (!string.IsNullOrEmpty(Model.Att2))
        {
            @if (Model.Att2.Contains(".mp4") || Model.Att2.Contains(".mov"))
            {
                <video class="card-img w-@((!string.IsNullOrEmpty(Model.Att1)) ? "auto" : "100")" height="450" controls>
                    <source src="@Model.Att2" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                <img class="card-img w-@((!string.IsNullOrEmpty(Model.Att1)) ? "auto" : "100")" src="@Model.Att2" alt="Article Image" style="height: 450px; object-fit: cover" />
            }
        }
    </div>


    <div class="d-flex justify-content-between flex-row mt-5">

        <div class="">
            <i class="bi bi-broadcast"></i>  @Model.ReboundCount
            <span></span>
            <i class="bi bi-heart"></i>  @Model.LikesCount
            <span></span>
            <i class="bi bi-chat"></i>  @Model.CommentsCount
        </div>

        <div>
            @if (Model.User != null)
            {
                <img src="@Model.User.PfpLink" alt="User pfp" class="rounded-circle align-content-right" style="width: 60px; height: auto" />
                <div> 
                    @Model.User.DisplayName
                    @if (Model.User.ApplicationUser != null)
                    {
                        <text>@("(@" + Model.User.ApplicationUser.UserName + ")")</text>
                    }
                </div>
            }

            <span class="alert-success px-1 align-content-right">
                @(Model.DateCreated.ToString("HH:mm") + "  -   " + Model.DateCreated.ToString("MMM d, yyyy"))
            </span>
        </div>
    </div>

</div>